<!-- <div id="amapContainer" class="amap-container"></div> -->

<nz-layout>
  <nz-sider nzCollapsible nz-menu-divider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzTheme="light" nzMode="vertical">
      <li
        nz-submenu
        nzTitle="Developer"
        layout="column"
        layout-align="center end"
      >
        <ul>
          <li nz-menu-item>
            <button nz-button nzType="primary" (click)="logBuoyListDev()">
              log current buoy list
            </button>
          </li>
          <li nz-menu-item>
            <button nz-button nzType="primary" (click)="logPorjectListDev()">
              log current project list
            </button>
          </li>
          <li nz-menu-item>
            <button nz-button nzType="primary" (click)="logPositionListDev()">
              log current position list
            </button>
          </li>
          <li nz-menu-item>
            <button nz-button nzType="primary" (click)="showHistory(['11'])">
              start tracking (one position list)
            </button>
          </li>
          <li nz-menu-item>
            <button
              nz-button
              nzType="primary"
              (click)="showHistory(['1', '2', '3'])"
            >
              start tracking (multiple position list)
            </button>
          </li>
          <li nz-menu-item>
            <button nz-button nzType="primary" (click)="pauseHistoryTracking()">
              pause tracking
            </button>
          </li>
          <li nz-menu-item>
            <button nz-button nzType="primary" (click)="stopHistoryTracking()">
              end tracking
            </button>
          </li>
          <li nz-menu-item>
            <button nz-button nzType="primary" (click)="showMassPoint(['11'])">
              show one position list (mass markers)
            </button>
          </li>
          <li nz-menu-item>
            <button
              nz-button
              nzType="primary"
              (click)="showMassPoint(['1', '2', '3'])"
            >
              show multiple position list (mass markers)
            </button>
          </li>
          <li nz-menu-item>
            <button
              nz-button
              nzType="primary"
              (click)="hideMassPoint(['1', '2', '3'])"
            >
              hide mass markers
            </button>
          </li>
          <li nz-menu-item>
            <nz-select
              [(ngModel)]="selectedValue"
              [compareWith]="compareFn"
              (ngModelChange)="changeLan($event)"
              nzPlaceHolder="Choose"
            >
              <nz-option
                *ngFor="let lan of languageList"
                [nzValue]="lan"
                [nzLabel]="lan.lable"
              ></nz-option>
            </nz-select>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Management">
        <ul>
          <li nz-submenu nzTitle="Drifting buoy">
            <ul>
              <nz-list nzSplit="true" nzItemLayout="vertical">
                <nz-list-item nz-menu-item *ngFor="let buoy of buoyList">
                  <a (click)="showBuoyInfo(buoy)"> {{ buoy.name }}</a>
                </nz-list-item>
                <nz-list-item nz-menu-item>
                  <a nz-button (click)="addBuoy()">Add buoy</a>
                </nz-list-item>
              </nz-list>
            </ul>
          </li>
          <li nz-submenu nzTitle="Project">
            <ul>
              <nz-list nzSplit="true" nzItemLayout="vertical">
                <nz-list-item nz-menu-item *ngFor="let project of projectList">
                  <a (click)="showProjectInfo(project)"> {{ project.name }}</a>
                </nz-list-item>
                <nz-list-item nz-menu-item>
                  <a nz-button (click)="addProject()">Add project</a>
                </nz-list-item>
              </nz-list>
            </ul>
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Buoy">
        <ul>
          <nz-list nzSplit="true" nzItemLayout="vertical">
            <nz-list-item nz-menu-item *ngFor="let buoy of buoyList">
              <a (click)="showHistory([buoy])">
                {{ buoy.name }}</a>
            </nz-list-item>
          </nz-list>
        </ul>
      </li>
      <li nz-submenu nzTitle="Project">
        <ul>
          <nz-list nzSplit="true" nzItemLayout="vertical">
            <nz-list-item nz-menu-item *ngFor="let project of projectList">
              <a (click)="showHistory(getBuoyInProject(project))">
                {{ project.name }}</a
              >
            </nz-list-item>
          </nz-list>
        </ul>
      </li>
      <nz-range-picker [nzShowTime]="true" [(ngModel)]="dateRange"></nz-range-picker>
    </ul>
  </nz-sider>



  <!-- form below -->
  <!-- <nz-header>header</nz-header> -->
  <nz-layout>
    <!-- <nz-content> -->
    <div id="amapContainer" class="amap-container"></div>
    <!-- </nz-content> -->
  </nz-layout>
  <!-- <nz-footer>footer</nz-footer> -->
</nz-layout>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="400"
  [nzVisible]="buoyFormVisible"
  [nzTitle]="showingBuoy.name"
  [nzFooter]="buoyFooterTpl"
  (nzOnClose)="buoyFormClose()"
>
  <form
    nz-form
    [formGroup]="buoyForm"
    (ngSubmit)="submitBuoyForm()"
    *nzDrawerContent
  >
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Id</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="showingBuoy.id"
              formControlName="id"
              readonly="true"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="showingBuoy.name"
              formControlName="name"
              placeholder="please enter drfitng buoy name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>IMEI</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group>
              <input
                [ngModel]="showingBuoy.imei"
                formControlName="imei"
                type="text"
                nz-input
                placeholder="please enter the IMEI"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Project</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control standalone>
            <nz-select
              [(ngModel)]="showingBuoy.projectId"
              nzPlaceHolder="Please select a project"
              formControlName="project"
            >
              <nz-option
                *ngFor="let project of projectList"
                [nzValue]="project.id"
                [nzLabel]="project.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #buoyFooterTpl>
    <div nz-row>
      <div nz-col nzSpan="12">
        <button nz-button nzType="primary" (click)="submitBuoyForm()">
          Submit Buoy
        </button>
      </div>
      <div nz-col nzSpan="12">
        <button nz-button (click)="buoyFormClose()">Cancel</button>
      </div>
    </div>
  </ng-template>
</nz-drawer>

<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="400"
  [nzVisible]="projectFormVisible"
  [nzTitle]="showingProject.name"
  [nzFooter]="projectFooterTpl"
  (nzOnClose)="projectFormClose()"
>
  <!-- TODO: finish this form with the project-->
  <form
    nz-form
    [formGroup]="projectForm"
    (ngSubmit)="submitProjectForm()"
    *nzDrawerContent
  >
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Id</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="showingProject.id"
              formControlName="id"
              readonly="true"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Name</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="showingProject.name"
              formControlName="name"
              placeholder="please enter project name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Description</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control>
            <nz-textarea-count [nzMaxCharacterCount]="100">
              <textarea
                [ngModel]="showingProject.description"
                formControlName="description"
                type="text"
                rows="4"
                nz-input
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-label>Create time</nz-form-label>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="18">
        <nz-form-item>
          <nz-form-control standalone>
            <nz-input-group>
              <input
                [ngModel]="showingProject.createtime"
                formControlName="createtime"
                type="text"
                nz-input
                readonly="true"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #projectFooterTpl>
    <div nz-row>
      <div nz-col nzSpan="12">
        <button nz-button nzType="primary" (click)="submitProjectForm()">
          Submit Project
        </button>
      </div>
      <div nz-col nzSpan="12">
        <button nz-button (click)="projectFormClose()">Cancel</button>
      </div>
    </div>
  </ng-template>
</nz-drawer>
